.NavBar {
  width: 100%;
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 12px 8px;
  height: var(--navbar-height);
  background: var(--inverted-bg-color);
}

.NavBarItems {
  display: flex;
  gap: 8px;
  margin-left: auto;
}

.links {
  margin-left: auto;
}
